# Assignment \#3 the Olympic dataset

#### Features description
- *City*: City
- *Edition*: Year
- *Sport*: Sport
- *Discipline*: Discipline
- *Athlete*: Athlete's last name and first name (generally separated by a comma and a space)
- *NOC*: Country, National Olympic Committee, ISO 3166-1 alpha-3
- *Gender*: Men, Women
- *Event*: Event
- *Event_gender*: Event gender (F = Women, M = Men, X = NA)
- *Medal*: Metal of medal (Bronze, Silver, Gold)

In [1]:
# usual import and options
import pandas as pd
pd.set_option("display.max_rows", 16)

### Loading the dataset

**file**: `'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'`

**separator**: tab: `\t`

In [4]:
# LOADING THE DATASET
# DO NOT CHANGE THIS CELL FOR GRADING
# THE DATASET SHOULD BE ALONG WITH THE NOTEBOOK AND THE PYTHON FILE

df = pd.read_csv('Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt', sep='\t')
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

#### Questions

1) How many different cities have organized Olympic games?

2) How many different editions of Olympic games are in the dataset?

3) How many cities have organized more than one edition of Olympic games?

4) Which sport distributed the most medals?

5) Which discipline distributed the most medals?

6) How many gold medals have been distributed?

7) Which edition distributed the most silver medals?

8) In how many different disciplines did men received medals (°)?

9) In how many different disciplines did women received medals (°)?

10) How many disciplines are dedicated to women (°)?

11) How many countries have won a medal with an event gender equal to 'X'?

12) How many countries have won a gold medal with an event gender equal to 'X'?

13) How many different countries have an athlete whose surname is 'SCHMIDT'?

14) How many different sports have the word 'ball' in their name?

15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

16) How many different events are in the dataset?

17) How many different events including numbers in their description are in the dataset?

18) Which athlete has participated in the most editions?

19) How many sports have the same number of Gold, Silver and Bronze medals?

20) How many athletes have strictly more Gold medals than Silver and more Silver medals than Bronze?

21) Which country has won at least one medal in each olympic edition?

22) Add a column named 'Score' with 1 for Bronze, 2 for Silver and 3 for Gold medals. What is the total sum of scores?

23) Which athlete has the largest sum of scores?

24) Which woman athlete has the largest sum of scores?

25) For how many countries the sum of men's scores is equal to the sum of women's scores?

26) Add a column named 'Trial' with the concatenation of columns 'Discipline', 'Sport' and 'Event' separated by a space. How many different trials are in the dataset?

27) Which edition has the largest number of different trials?

28) Add a column 'First Name' with the first name of athletes. How many different first names are in the dataset?

29) Which athlete's first name has the largest sum of scores?

30) Which woman athlete's first name has the largest sum of scores (°)?

(°) Use the 'Gender' column.

In [6]:
# 1) How many different cities have organized Olympic games?
def exercise_01():
    v = df [ 'City' ].nunique()
    return v

# run and check
exercise_01()

22

In [7]:
# 2) How many different editions of Olympic games are in the dataset?
def exercise_02():
    v = df [ 'Edition' ].nunique()
    return v

# run and check
exercise_02()

26

In [8]:
# 3) How many cities have organized more than one edition of Olympic games?

def exercise_03():
    v = ( df[ 'Edition' ].nunique() ) - (df[ 'City' ].nunique() )
    return v

# run and check
exercise_03()

4

In [9]:
# 4) Which sport distributed the most medals?

def exercise_04():
    v = df [ 'Sport' ] .value_counts().index [0]
    return v

# run and check
exercise_04()

'Aquatics'

In [10]:
# 5) Which discipline distributed the most medals?

def exercise_05():
    v = df[ 'Discipline' ].value_counts().index [0]
    return v

# run and check
exercise_05()

'Athletics'

In [11]:
# 6) How many gold medals have been distributed?

def exercise_06():
    v = len( df [ df [ 'Medal' ] == 'Gold' ])
    return v

# run and check
exercise_06()

9850

In [12]:
# 7) Which edition distributed the most silver medals?

def exercise_07():
    v = df[ df.Medal == 'Silver' ].groupby('Edition').count()['Medal'].idxmax()
    return v

# run and check
exercise_07()

2000

In [13]:
# 8) In how many different disciplines did men received medals (°)?

def exercise_08():
    v = df.loc[(df[ 'Gender' ] =='Men')][[ 'Discipline','Gender' ]][ 'Discipline' ].nunique()
    return v

# run and check
exercise_08()

53

In [14]:
# 9) In how many different disciplines did women received medals (°)?

def exercise_09():
    v = df.loc[(df[ 'Gender' ] =='Women')][[ 'Discipline','Gender' ]][ 'Discipline' ].nunique()
    return v

# run and check
exercise_09()

40

In [15]:
# 10) How many disciplines are dedicated to women (°)?

def exercise_10():
    v = df.Discipline.nunique()-df.loc[df[ 'Gender' ]== 'Men' ].Discipline.nunique()
    return v

# run and check
exercise_10()

3

In [16]:
# 11) How many countries have won a medal with an event gender equal to 'X'?

def exercise_11():
    v = ( (df.loc [(df['Event_gender']=='X')])['NOC'] ).nunique()
    return v

# run and check
exercise_11()

49

In [19]:
# 12) How many countries have won a gold medal with an event gender equal to 'X'?

def exercise_12():
    v = df.loc [ (df[ 'Medal' ]=='Gold') & (df ['Event_gender']=='X')] [ 'NOC' ].nunique()
    return v


# run and check
exercise_12()

33

In [20]:
# 13) How many different countries have an athlete whose surname is 'SCHMIDT'?

def exercise_13():
    v = df.loc [df[ 'Athlete' ].str.startswith( 'SCHMIDT' )][ 'NOC' ].nunique()
    return v
    

# run and check
exercise_13()

11

In [21]:
# 14) How many different sports have the word 'ball' in their name?

def exercise_14():
    v = df.loc [df[ 'Sport' ].str.contains ( 'all' )].Sport.nunique()
    return v

# run and check
exercise_14()

6

In [125]:
# 15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

def exercise_15():
    df['Lastname'] = df['Athlete'].str.split().str[0]
    df['Lastname'] = df['Lastname'].replace( ',','', regex = True )
    v = df[((df['Medal'] == 'Silver') | (df['Medal'] == 'Bronze')) & (df['Lastname'] == 'KIM')] ['Medal'].count()
    return v

# run and check
exercise_15()

78

In [22]:
# 16) How many different events are in the dataset?

def exercise_16():
    z = df [ 'Event'].nunique()
    return z


# run and check
exercise_16()

577

In [23]:
# 17) How many different events including numbers in their description are in the dataset?

def exercise_17():
    z = df[ 'Event' ].loc[ (df[ 'Event' ] ).str.contains("\d") ].nunique()
    return z


# run and check
exercise_17()

430

In [24]:
# 18) Which athlete has participated in the most editions?

def exercise_18():
    z = df[['Athlete', 'Edition']]
    x = z.drop_duplicates().Athlete.value_counts().reset_index().loc[0][0]
    return x


# run and check
exercise_18()

'SZIVOS, Istvan'

In [25]:
# 19) How many sports distributed exactly the same number of Gold, Silver and Bronze medals?

def exercise_19():
    w = df.pivot_table(values='City', index='Sport', columns='Medal', aggfunc='count', fill_value=0)
    v = w[(w['Bronze'] == w['Gold']) & (w['Gold'] == w['Silver'])]
    return len(v)


# run and check
exercise_19()

7

In [26]:
# 20) How many athletes received strictly more Gold medals than Silver and strictly more Silver medals than Bronze?

def exercise_20():
    w = df.pivot_table(values= 'City' , fill_value=0, index= 'Athlete' , columns= 'Medal' , aggfunc= 'count' )
    z = len (w[(w[ 'Gold' ]>w[ 'Silver' ])&(w[ 'Silver' ] > w[ 'Bronze' ])])                  
    return z

# run and check
exercise_20()

253

In [27]:
# 21) Which country has won at least one medal in each olympic edition?

def exercise_21():
    w = df.pivot_table(values='City',index='NOC', columns='Edition', aggfunc=len)
    z = w.dropna(axis=0).index[0]
    return z

# run and check
exercise_21()

'GBR'

In [28]:
# 22) What is the total sum of scores?

def exercise_22():
    df['Score'] = df['Medal'].map({'Bronze':1, 'Silver':2, 'Gold':3})
    z = df['Score'].sum()
    return z

# run and check
exercise_22()

58593

In [29]:
# 23) Which athlete has the largest sum of scores?

def exercise_23():
    z = df.groupby('Athlete')['Score'].sum().idxmax()
    return z

# run and check
exercise_23()

'PHELPS, Michael'

In [30]:
# 24) Which woman athlete has the largest sum of scores (°)?

def exercise_24():
    z = df[(df['Gender']=='Women')].groupby('Athlete')['Score'].sum().idxmax()
    return z

# run and check
exercise_24()

'LATYNINA, Larisa'

In [33]:
# 25) For how many countries the sum of men' scores is equal to the sum of women' scores?

def exercise_25():
    z = (df.pivot_table(values = 'City', index = 'NOC', columns='Gender', aggfunc = 'sum')).loc[(df.pivot_table(values = 'Score', index = 'NOC', columns='Gender', aggfunc = 'sum'))['Men'] 
    == (df.pivot_table(values = 'Score', index = 'NOC', columns='Gender', aggfunc = 'sum'))['Women']].iloc[:,0].size
    
    return z

# run and check
exercise_25()

3

In [34]:
# 26) How many different trials are in the dataset?

def exercise_26():
    Trial  =  df[  'Discipline'  ] + "  " + df[  'Sport'  ] + "  " +df[  'Event'  ]
    df['Trial'] = Trial
    v = Trial.nunique()
    return v

# run and check
exercise_26()

648

In [35]:
# 27) Which edition has the most different trials?

def exercise_27():
    z = df.groupby('Edition')['Trial'].nunique().idxmax()
    return z

# run and check
exercise_27()

2004

In [36]:
# 28) How many different first names are in the dataset?

def exercise_28():
    df[ 'First Name' ] = df[ 'Athlete' ].str.split(',').str[1]
    z = df[ 'First Name' ] .nunique()
    return z

# run and check
exercise_28()

9772

In [37]:
# 29) Which athlete's first name has the largest sum of scores?

def exercise_29():
    sum_score = df.groupby ('First Name')['Score'].sum().idxmax()
    z = sum_score.strip()
    return z

# run and check
exercise_29()

'Vladimir'

In [38]:
# 30) Which woman athlete's first name has the largest sum of scores (°)?

def exercise_30():
    sum_score = df[df['Gender']=='Women'].groupby ('First Name')['Score'].sum().idxmax()
    z =sum_score.strip()
    return z

# run and check
exercise_30()

'Elena'